p {text-align: justify;
    padding: 10px;
}

h1 { 
    color: darkcyan;
	font-size: 5em;
	font-weight: bold;
	margin-top: 0;
    font-family: fantasy;
}

a {
    color: black;
    font-style:italic;
    text-align: center;
}

a:hover {
    color: white;
    font-size: 16pt;
    font-weight: bold;
}

main {
    
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Georgia", serif;
}
     
.intro {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 13pt;
    text-align: justify;
    
}

.miniatures {
   
    float: left; 
    clear: bottom;
    padding:30px;
    background-color: lightgray;
    width: 100%; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 30px;
    }

#bald {
    float:left;
    width:25%;
}

#gyr {
    float:left;
    width:25%;
}

#horn {
    float:left;
    width:25%;
}

#barn {
    float:left;
    width:25%;
}




.socialmedia { background-color: #3A3A3A; padding: 0.75em 0 0.75em 0; margin-top: 5px;}

#fb {
    color: lightblue;
    width: 15%;
}

#ig {
   color: lightcoral;
    width: 15%;
}

#links {
    border: 2px solid black;
    padding: 20px;
    margin: 0px;
    margin-bottom: 30px;
    background-color: black;
    align-content: center;
}

#linkbio {
    border: 1px solid slategray;
    background-color: slategray;
    width: 25%;
    display: inline-grid;
}

#linklearn {
    border: 1px solid forestgreen;
    background-color: forestgreen;
    width: 20%;
    display: inline-grid;
}

#linksurvey {
    border: 1px solid slategray;
    background-color: slategray;
    width: 30%;
    display: inline-grid;
}

#linkcontact {
    border: 1px solid slategray;
    background-color: slategray;
    width: 23%;
    display: inline-grid;
}

.home {
    background-color: mediumseagreen;
    border-bottom: 1px;
}

.backg {
    width: 100%;
    

}
#pictures {
    clear:left;
    width: 40%;
    display: block;
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 50px;
    padding-bottom: 80px;
    }

#bio {
    float: right;
    width: 60%;
    margin-top: 3em;
    font-size: 12pt;
    font-family: "Georgia", serif;
    text-align: justify;
    border: 2px solid gray;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    margin: 30px;
    display: block;

}

.personal {
    color: darkblue;
    font-style:italic;
    font-family: fantasy, serif;    
}

#cont {
    float: left;
    width: 30%;
    height: 70%;
    padding-left: 30px;
    padding-bottom: 50px;        
}

#formcont {
    float: right;
    width: 70%;
    height: 70%;
    border: 2px solid gray;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 20px;
    padding-bottom: 30px;    
}

#submit {
    font-family:fantasy;
    font-size: 16pt;
    background-color: darkcyan;
    color:aliceblue;
    padding: 20px;
}

.website {
    clear:both;
    font-size:10pt;
}

.feature {
    float: right;
      margin-top: 3em;
    font-size: 12pt;
    font-family: "Georgia", serif;
    text-align: justify;
    border: 2px solid gray;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    margin: 30px;
    display: block;
}


.infobox {
    float: right;
    width: 70%;
    
}

#secondtitle {
    font-weight: bold;
    font-family: fantasy;
    text-align: center;
}


