/*
container {
display: flex;
justify-content: space-around;
font-size: 200%;
background-color: azure;
    
  }


/*.image {
    display: flex;
    margin:auto;
}





.item {
    display: flex;
    justify-content: center;
    background: lightgray;
    padding: 20px;
    border: 5px solid darkgray;
    margin: 3px;
    font-family: Georgia, serif;
    color: black;
    font-weight:bolder;
    text-decoration: none;
    
     
    
}
 
.item a:hover {
    text-decoration: underline;
    color: red;
}

body {
    margin:0;
    padding:0;
    font-size:16px;
}

header {
    padding:2em;
    color:white;
    border:1px solid black;
    background: blue;
    margin: 0;
    padding:0;
}

body > #container > nav {
    background:lightgreen;
    width: 20%;
    float: left;
}

#container {
    /*width:1024px;
    width:90%;
    margin:0 auto;
    padding:0;
}

main {
    background:yellow;
    width:80%;
    margin-left: 20%;
    
}

footer {
    background:lightpink;
    
}

@media only screen and (max-width:650px) {
    body > #container > nav {
        float:none; /*remove the float 
        width: 100%; /*change from 20%*/
    }
    
    main {
        margin-left:0; /*change from 20%
        width:100%; /*change from 80%
    }
    
}
/*
h1, h2, h3 {
    margin:0;
    padding:0;
}

header h1 {
    background:black;
    width:50vw;
}

header h2 {
    background:red;
    width:50%;
}

header h3 {
    background:green;
    width:100vw;
}
*/

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

